* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 1em;
  font-family: serif;
  text-align: center;
}

li {
  cursor: pointer;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#bg-img {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('../image/E9EF85F292CB45EB86EC7700F4024135_L0.jpg');
  background-size: cover;
}

#bg-color {
  display: none;  /* to block */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

#welcome {
  display: none;  /* to block */
  position: absolute;
  bottom: 50vh;
  width: 100%;
  background: linear-gradient(to right, #bf7fff, #ff7fbf, #ffbf7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#welcome h1 {
  font-size: 5.5rem;
}

#welcome p {
  font-size: 1.8rem;
}

.scroll {
  position: absolute;
  bottom: 0;
  cursor: pointer;
  font-size: 3rem;
  background: linear-gradient(to right, #bf7fff, #ff7fbf, #ffbf7f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#scroll0 {
  display: none;  /* to inline */
  bottom: 5vh;
}

#q-wrapper {
  position: absolute;
  top: 100vh;
  width: 80vw;
  height: 1000vh;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  margin: 5vh 10vw 10vh 10vw;
}

.q {
  position: relative;
  top: 0;
  width: 80vw;
  height: 100vh;
  /* border: solid; */
}

.q-container {
  position: relative;  /* 子要素のposition指定用 */
  width: 70vw;
  height: 90vh;
  /* border: solid red; */
  margin: 5vh 5vw;
}

.q-container h2 {
  font-size: 2rem;
  text-align: left;
}

.q-container h2::after {
  content: '';
  display: block;
  width: 70vw;
  height: 2px;
  background: linear-gradient(to right, #bf7fff, #ff7fbf, #ffbf7f);
  -webkit-background-clip: block;
  -webkit-block-fill-color: transparent;

}

.q-container ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: absolute;
  top: 0;
  width: 70vw;
  height: 90vh;
  justify-content: space-evenly;
  -ms-align-items: center;
  align-items: center;
  font-size: 1.2rem;
}

/* q-wrapperの上をあけるため */
#q1 {
  height: calc(100vh - 5vh);
  /* background-color: blue; */
}

#q1 .q-container {
  height: calc(90vh - 5vh);
}
