#q1 .btn {
  display: inline-block;
  top: 0;
  font-size: 1.8rem;
  margin: 0 2rem;
}

#parks-left {
  background: linear-gradient(to right, #bf7fff, #ff7fbf);
}

#parks-right {
  background: linear-gradient(to right, #ff7fbf, #ffbf7f);
}

#yet {
  position: relative;
  top: 10vh;
  color: grey;
}
