#q3-wrapper {
  display: block;
}

#q3-wrapper h2 {
  position: relative;
}

#q3 {
  position: relative;
  top: 3vh;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;
}

.q3-container {
  width: 22vw;
}

.theme {
  border-radius: 0.5vmax;
  margin: 2vh 0;
}

.theme h3 {
  text-align: center;
  border-bottom: solid 1.5px;
  margin-bottom: 0.8rem;
}

.theme label {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0 1.5rem;
}

.theme label::before {
  content: '';
  position: absolute;
  top: calc(1rem * 0.25 + 2px);
  left: calc(0.5rem);  /* (1.5rem - 0.5rem) / 2 */
  width: 0.5rem;
  height: 0.5rem;
  border: solid 1.5px silver;
  border-radius: 0.1vmax;
}

.theme input {
  display: none;
}

.theme input:checked {
  display: block;
  /* + で接続できない */
  /* checkboxのborderを灰色 → checkedで色をつける？ */
}

.wb, .wb label::before {
  border-color: #FF7F7F;
}

.wb h3 {
  color: #FF7F7F;
}

.al, .al label::before {
  border-color: #8FE572;
}

.al h3 {
  color: #8FE572;
}

.wl, .wl label::before {
  border-color: #FFA77F;
}

.wl h3 {
  color: #FFA77F;
}

.cc, .cc label::before {
  border-color: #7FDAFF;
}

.cc h3 {
  color: #7FDAFF;
}

.fl, .fl label::before {
  border-color: #FF7FF4;
}

.fl h3 {
  color: #FF7FF4;
}

.tt, .tt label::before {
  border-color: #FFC77F;
}

.tt h3 {
  color: #FFC77F;
}

.tl, .tl label::before {
  border-color: #7FC3FF;
}

.tl h3 {
  color: #7FC3FF;
}
