#q4 div {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}

#q4 label {
  cursor: pointer;
  text-align: left;
}
