ul {
  position: absolute;
  top: 0;
  width: 70vw;
  height: 90vh;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  -ms-align-items: center;
  align-items: center;
  font-size: 1.2rem;
}
