#q1 .btn {
  display: inline-block;
  top: 0;
  font-size: 1.8rem;
  margin: 0 2rem;
}

#parks-left {
  background: linear-gradient(to right, #7FBFFF, #FF7FFF);
}

#parks-right {
  background: linear-gradient(to right, #FF7FFF, #FFBF7F);
}

#yet {
  position: relative;
  top: 10vh;
  color: grey;
}
